/*
  Author: Smitkumar Shah
  Date: July 20, 2024
  File Name: about.css
  */

.title {
    text-align: center;
    margin-bottom: 20px;
}

.underline {
    text-align: center;
}

.mission {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    padding: 40px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img {
    position: absolute;
    box-shadow: 10px 10px 3px #65558F;
    border-radius: 50px;
}

.description {
    font-size: 1.25em;
    margin: 30px;
}